<div class="navigation-logo">
  <div></div>
  <img src="/images/ruqu-logo.png" class="logo" alt="Ruqu lost and found logo">
  <a href="/profile"><img src="/images/profile.jpg" alt="profile icon"></a>
</div>

<nav class="toggle">
  <ul>
    <li class="lostToggle">LOST</li>
    <li>|</li>
    <li class="foundToggle">FOUND</li>
  </ul>
</nav>

<section class="lostSectionDashboard">
  {{#each lostDogs}}
  <article id={{_id}} class="dogCardDashboard">

  <div class="messages-match-delete">
    <div>
      <img src="/images/matches.png" alt="matches" width="30px">
      <p>{{totalMatches}}</p>
      {{#if newMatches}}
      <div class="new-matches"></div>
      {{/if}}
    </div>
    <div>
      <img class="foundOrDeleteDogButton" src="/images/delete.png" alt="delete" width="30px">
    </div>
  </div>

  <div class="dog-info">
    <div class="dog-image">
      <img src="{{photo}}" alt="">
    </div>
    {{#if name}}
      <p class="dog-name">{{name}}</p>
    {{/if}}
    <div class="when-where">
      <p>{{day}}/{{month}}/{{year}}  around  {{hour}}:00 h</p>
    </div>
    <p>{{location}}</p>
    <div class="breed-hair">
      <p>{{breed}}</p>
      {{#unless hair.unknown}}
        {{#if hair.long}}
          <p>Long hair</p>
        {{/if}}
        {{#if hair.short}}
          <p>Short hair</p>
        {{/if}}
      {{/unless}}
    </div>
    <div class="pet-color">
      {{#unless color.unknown}}
        {{#if color.white }}
          <span class="color white"></span>
        {{/if}}
        {{#if color.black}}
          <span class="color black"></span>
        {{/if}}
        {{#if color.darkBrown}}
          <span class="color dark-brown"></span>
        {{/if}}
        {{#if color.lightBrown}}
          <span class="color light-brown"></span>
        {{/if}}
        {{#if color.red}}
          <span class="color red"></span>
        {{/if}}
        {{#if color.grey}}
          <span class="color grey"></span>
        {{/if}}
      {{/unless}}
    </div>
    <div class="ears-tail-size">
      {{#unless size.unknown}}
        {{#if size.small}}
        <p>Small</p>
        {{/if}}
        {{#if size.medium}}
        <p>Medium</p>
        {{/if}}
        {{#if size.big}}
        <p>Big</p>
        {{/if}}
      {{/unless}}
      {{#unless ears.unknown}}
          {{#if ears.up}}
          <p>Up</p>
          {{/if}}
          {{#if ears.down}}
          <p>Down</p>
          {{/if}}
        {{/unless}}
        {{#unless tail.unknown}}
          {{#if tail.longTail}}
          <p>Long</p>
          {{/if}}
          {{#if tail.longHairy}}
          <p>Long and hairy</p>
          {{/if}}
          {{#if tail.shortTail}}
          <p>Short</p>
          {{/if}}
        {{/unless}}
      </div>
      <div class="found-match-buttons">
        <a class="button" href="/pet/{{_id}}/matches">Matches</a>
        <button class="foundOrDeleteDogButton">Found</button>
      </div>
    </div>

  </article>
  {{/each}}
</section>

<section class="foundSectionDashboard displayNone">
  {{#each foundDogs}}
    <article id={{_id}} class="dogCardDashboard">
     
    <div class="messages-match-delete">
      <div>
        <img src="/images/messages.png" alt="messages" width="30px">
        <p>{{totalMessages}}</p>
        {{#if newMatches}}
        <div class="new-messages"></div>
        {{/if}}
      </div>
      <div>
        <img src="/images/matches.png" alt="matches" width="30px">
        <p>{{totalMatches}}</p>
        {{#if newMatches}}
        <div class="new-matches"></div>
        {{/if}}
      </div>
      <div>
        <img class="foundOrDeleteDogButton" src="/images/delete.png" alt="delete" width="30px">
      </div>
    </div>

  <div class="dog-info">
    <div class="dog-image">
      <img src="{{photo}}" alt="">
    </div>
    {{#if name}}
      <p class="dog-name">{{name}}</p>
    {{/if}}
    <div class="when-where">
      <p>{{day}}/{{month}}/{{year}}  around  {{hour}}:00 h</p>
    </div>
    <p>{{location}}</p>
    <div class="breed-hair">
      <p>{{breed}}</p>
      {{#unless size.unknown}}
        {{#if hair.long}}
          <p>Long hair</p>
        {{/if}}
        {{#if hair.short}}
          <p>Short hair</p>
        {{/if}}
      {{/unless}}
    </div>
    <div class="pet-color">
      {{#unless color.unknown}}
        {{#if color.white }}
          <span class="color white"></span>
        {{/if}}
        {{#if color.black}}
          <span class="color black"></span>
        {{/if}}
        {{#if color.darkBrown}}
          <span class="color dark-brown"></span>
        {{/if}}
        {{#if color.lightBrown}}
          <span class="color light-brown"></span>
        {{/if}}
        {{#if color.red}}
          <span class="color red"></span>
        {{/if}}
        {{#if color.grey}}
          <span class="color grey"></span>
        {{/if}}
      {{/unless}}
    </div>
    <div class="ears-tail-size">
      {{#unless size.unknown}}
        {{#if size.small}}
        <p>Small</p>
        {{/if}}
        {{#if size.medium}}
        <p>Medium</p>
        {{/if}}
        {{#if size.big}}
        <p>Big</p>
        {{/if}}
      {{/unless}}
      {{#unless ears.unknown}}
          {{#if ears.up}}
          <p>Up</p>
          {{/if}}
          {{#if ears.down}}
          <p>Down</p>
          {{/if}}
        {{/unless}}
        {{#unless tail.unknown}}
          {{#if tail.longTail}}
          <p>Long</p>
          {{/if}}
          {{#if tail.longHairy}}
          <p>Long and hairy</p>
          {{/if}}
          {{#if tail.shortTail}}
          <p>Short</p>
          {{/if}}
        {{/unless}}
      </div>
      <div class="found-match-buttons">
        <a class="button" href="/pet/{{_id}}/matches">Matches</a>
      </div>
    </div>
      
    </article>
    {{/each}}
  </section>

<section class="add-dog">
  <a href="/pet/add"><img src="/images/add.png" width="50px" alt=""></a>
</section>