<div class="navigation-logo">
  <div></div>
  <img src="/images/ruqu-logo.png" class="logo" alt="Ruqu lost and found logo">
  <a href="/profile"><img src="/images/profile.png" alt="profile icon"></a>
</div>

<nav class="toggle">
    <button class="lostToggle left selected">LOST</button>
    <button class="foundToggle right">FOUND</button>
</nav>

<section class="lostSectionDashboard">
  {{#each lostDogs}}
  <article id={{_id}} class="dogCardDashboard">

  <div class="messages-match-delete">
    <div class="matches-icon">
      <img src="/images/matches.png" alt="matches">
      <p>{{totalMatches}}</p>
      {{#if newMacthes}}
      <div class="new-matches"></div>
      {{/if}}
    </div>
    <div class="delete-icon">
      <img class="foundOrDeleteDogButton" src="/images/delete.png" alt="delete">
    </div>
  </div>

  <div class="dog-info">
    <div class="dog-image">
      <img src="{{photo}}" alt="">
    </div>
    {{#if name}}
      <p class="dog-name">{{name}}</p>
    {{/if}}
    <div class="when-where">
      <p>{{day}}/{{month}}/{{year}}  around  {{hour}}:00 h</p>
    </div>
    <p>{{location}}</p>
    <div class="pet-color">
      {{#unless color.unknown}}
        {{#if color.white }}
          <span class="color white"></span>
        {{/if}}
        {{#if color.black}}
          <span class="color black"></span>
        {{/if}}
        {{#if color.darkBrown}}
          <span class="color dark-brown"></span>
        {{/if}}
        {{#if color.lightBrown}}
          <span class="color light-brown"></span>
        {{/if}}
        {{#if color.red}}
          <span class="color red"></span>
        {{/if}}
        {{#if color.grey}}
          <span class="color grey"></span>
        {{/if}}
      {{/unless}}
    </div>
    <div class="ears-tail-size">
      {{#unless size.unknown}}
        {{#if size.small}}
        <img class="illustration" src="/images/form-images/small.png" alt="small">
        {{/if}}
        {{#if size.medium}}
        <img class="illustration" src="/images/form-images/medium.png" alt="medium">
        {{/if}}
        {{#if size.large}}
        <img class="illustration" src="/images/form-images/large.png" alt="large">
        {{/if}}
      {{/unless}}
      {{#unless ears.unknown}}
        {{#if ears.up}}
       <img class="illustration" src="/images/form-images/up.png" alt="up">
        {{/if}}
        {{#if ears.down}}
        <img class="illustration" src="/images/form-images/down.png" alt="down">
        {{/if}}
      {{/unless}}
      {{#unless tail.unknown}}
        {{#if tail.longTail}}
        <img class="illustration" src="/images/form-images/longTail.png" alt="longTail">
        {{/if}}
        {{#if tail.longHairy}}
        <img class="illustration" src="/images/form-images/hairy.png" alt="hairy">
        {{/if}}
        {{#if tail.shortTail}}
        <img class="illustration" src="/images/form-images/short.png" alt="short">
        {{/if}}
      {{/unless}}
    </div>
    <div class="breed-hair">
      {{#if breed}}
        <p>{{breed}}</p>
      {{/if}}
      {{#unless hair.unknown}}
        {{#if hair.long}}
          <p>Long hair</p>
        {{/if}}
        {{#if hair.short}}
          <p>Short hair</p>
        {{/if}}
      {{/unless}}
    </div>
    <div class="found-match-buttons">
      <a class="button" href="/pet/{{_id}}/matches">Matches</a>
      <button class="foundOrDeleteDogButton">Found</button>
    </div>
  </div>

  </article>
  {{/each}}
</section>

<section class="foundSectionDashboard displayNone">
  {{#each foundDogs}}
    <article id={{_id}} class="dogCardDashboard">
     
    <div class="messages-match-delete">
      <div class="messages-icon">
        <img src="/images/messages.png" alt="messages">
        <p>{{totalMessages}}</p>
        {{#if newMessages}}
        <div class="new-messages"></div>
        {{/if}}
      </div>
      <div class="matches-icon">
        <img src="/images/matches.png" alt="matches">
        <p>{{totalMatches}}</p>
        {{#if newMacthes}}
        <div class="new-matches"></div>
        {{/if}}
      </div>
      <div class="delete-icon">
        <img class="foundOrDeleteDogButton" src="/images/delete.png" alt="delete">
      </div>
    </div>

  <div class="dog-info">
    <div class="dog-image">
      <img src="{{photo}}" alt="">
    </div>
    {{#if name}}
      <p class="dog-name">{{name}}</p>
    {{/if}}
    <div class="when-where">
      <p>{{day}}/{{month}}/{{year}}  around  {{hour}}:00 h</p>
    </div>
    <p>{{location}}</p>
    <div class="pet-color">
      {{#unless color.unknown}}
        {{#if color.white }}
          <span class="color white"></span>
        {{/if}}
        {{#if color.black}}
          <span class="color black"></span>
        {{/if}}
        {{#if color.darkBrown}}
          <span class="color dark-brown"></span>
        {{/if}}
        {{#if color.lightBrown}}
          <span class="color light-brown"></span>
        {{/if}}
        {{#if color.red}}
          <span class="color red"></span>
        {{/if}}
        {{#if color.grey}}
          <span class="color grey"></span>
        {{/if}}
      {{/unless}}
    </div>
    <div class="ears-tail-size">
      {{#unless size.unknown}}
        {{#if size.small}}
        <img class="illustration" src="/images/form-images/small.png" alt="small">
        {{/if}}
        {{#if size.medium}}
        <img class="illustration" src="/images/form-images/medium.png" alt="medium">
        {{/if}}
        {{#if size.large}}
        <img class="illustration" src="/images/form-images/large.png" alt="large">
        {{/if}}
      {{/unless}}
      {{#unless ears.unknown}}
          {{#if ears.up}}
          <img class="illustration" src="/images/form-images/up.png" alt="up">
          {{/if}}
          {{#if ears.down}}
          <img class="illustration" src="/images/form-images/down.png" alt="down">
          {{/if}}
        {{/unless}}
        {{#unless tail.unknown}}
          {{#if tail.longTail}}
          <img class="illustration" src="/images/form-images/longTail.png" alt="longTail">
          {{/if}}
          {{#if tail.longHairy}}
          <img class="illustration" src="/images/form-images/hairy.png" alt="hairy">
          {{/if}}
          {{#if tail.shortTail}}
          <img class="illustration" src="/images/form-images/short.png" alt="short">
          {{/if}}
        {{/unless}}
      </div>
      <div class="breed-hair">
      {{#if breed}}
        <p>{{breed}}</p>
      {{/if}}
      {{#unless hair.unknown}}
        {{#if hair.long}}
          <p>Long hair</p>
        {{/if}}
        {{#if hair.short}}
          <p>Short hair</p>
        {{/if}}
      {{/unless}}
    </div>
      <div class="found-match-buttons">
        <a class="button" href="/pet/{{_id}}/matches">Matches</a>
      </div>
    </div>
      
    </article>
    {{/each}}
  </section>

<section class="add-dog">
  <a href="/pet/add"><img src="/images/add2.png" alt=""></a>
  <div class="semicircle"></div>
</section>