<div class="navigation-logo">
  <a href="/dashboard"><img src="/images/back-button.png" alt="return back to dashboard"></a>
  <img src="/images/ruqu-logo.png" class="logo logo-small" alt="Ruqu lost and found logo">
</div>

<section class="currentDogMatches">
<article>
  <div class="header-match">
    <a href="/pet/{{dog._id}}/edit" class="button">Edit</a>
    {{#if dog.notification}}
    <img id={{dog._id}} class="notifications notifications-true" src="/images/notifications-true.png" alt="notifications on" width="80px">
    {{else}}
    <img id={{dog._id}} class="notifications" src="/images/notifications-false.png" alt="notifications off" width="80px">
    {{/if}}
  </div>
    <div class="match-dog-info">
      <div><img src="{{dog.photo}}" alt="my dog" width="300px"></div>
      {{#if dog.name}}
      <div class="dog-name">{{dog.name}}</div>
      {{/if}}
      <div>{{dog.day}}/{{dog.month}}/{{dog.year}} around {{dog.hour}}h</div>
      <div>{{dog.location}}</div>

      <div class="pet-color">
      {{#unless dog.olor.unknown}}
        {{#if dog.color.white }}
          <span class="color white"></span>
        {{/if}}
        {{#if dog.color.black}}
          <span class="color black"></span>
        {{/if}}
        {{#if dog.color.darkBrown}}
          <span class="color dark-brown"></span>
        {{/if}}
        {{#if dog.color.lightBrown}}
          <span class="color light-brown"></span>
        {{/if}}
        {{#if dog.color.red}}
          <span class="color red"></span>
        {{/if}}
        {{#if dog.color.grey}}
          <span class="color grey"></span>
        {{/if}}
      {{/unless}}
      </div>
    
      <div class="ears-tail-size">
        {{#unless dog.size.unknown}}
          {{#if dog.size.small}}
          <p><img src="/images/form-images/small.png"></p>
          {{/if}}
          {{#if dog.size.medium}}
          <p><img src="/images/form-images/medium.png"></p>
          {{/if}}
          {{#if dog.size.large}}
          <p><img src="/images/form-images/large.png"></p>
          {{/if}}
        {{/unless}}
        {{#unless dog.ears.unknown}}
          {{#if dog.ears.up}}
          <p><img src="/images/form-images/up.png"></p>
          {{/if}}
          {{#if dog.ears.down}}
          <p><img src="/images/form-images/down.png"></p>
          {{/if}}
        {{/unless}}
        {{#unless dog.tail.unknown}}
          {{#if dog.tail.longTail}}
          <p><img src="/images/form-images/longTail.png"></p>
          {{/if}}
          {{#if dog.tail.longHairy}}
          <p><img src="/images/form-images/hairy.png"></p>
          {{/if}}
          {{#if dog.tail.shortTail}}
          <p><img src="/images/form-images/short.png"></p>
          {{/if}}
        {{/unless}}
      </div>
      
      <div class="breed-hair">
        <p>{{dog.breed}}</p>
        {{#unless dog.hair.unknown}}
          {{#if dog.hair.long}}
            <p>Long hair</p>
          {{/if}}
          {{#if dog.hair.short}}
            <p>Short hair</p>
          {{/if}}
        {{/unless}}
      </div>
    </div>

  </article>
</section>

<section class="matches">
  {{#each matches}}
    <article class="dog-info" id="{{_id}}">
      <div class="dog-image dog-match-image">
        {{#if idFoundDog.photo}}
        <img src="{{idFoundDog.photo}}" alt="Lost dog matched image">
        {{/if}}
        {{#if idLostDog.photo}}
        <img src="{{idLostDog.photo}}" alt="Found dog matched image">
        {{/if}}
      </div>

      
      <div class="matching-info">
        {{#if idFoundDog.location}}
        <div class="deleteMatch delete-match"><img src="/images/delete.png" width="30px"></div>
        {{/if}}
        {{#if idFoundDog.day}}
        <p>{{idFoundDog.day}}/{{idFoundDog.month}}/{{idFoundDog.year}} - {{idFoundDog.hour}}h</p>
        {{/if}}
        {{#if idLostDog.day}}
        <p>{{idLostDog.day}}/{{idLostDog.month}}/{{idLostDog.year}} - {{idLostDog.hour}}h</p>
        {{/if}}
        {{#if idFoundDog.location}}
        <p>{{idFoundDog.location}}</p>
        {{/if}}
        {{#if idLostDog.location}}
        <p>{{idLostDog.location}}</p>
        {{/if}}

        <div class="breed-hair">
          <p>{{commonAttributes.breed}}</p>
          {{#unless commonAttributes.hair.unknown}}
            {{#if commonAttributes.hair.long}}
              <p>Long hair</p>
            {{/if}}
            {{#if commonAttributes.hair.short}}
              <p>Short hair</p>
            {{/if}}
          {{/unless}}
        </div>

        <div class="pet-color">
          {{#unless commonAttributes.color.unknown}}
            {{#if commonAttributes.color.white }}
              <span class="color white"></span>
            {{/if}}
            {{#if commonAttributes.color.black}}
              <span class="color black"></span>
            {{/if}}
            {{#if commonAttributes.color.darkBrown}}
              <span class="color dark-brown"></span>
            {{/if}}
            {{#if commonAttributes.color.lightBrown}}
              <span class="color light-brown"></span>
            {{/if}}
            {{#if commonAttributes.color.red}}
              <span class="color red"></span>
            {{/if}}
            {{#if commonAttributes.color.grey}}
              <span class="color grey"></span>
            {{/if}}
          {{/unless}}
        </div>

        <div class="ears-tail-size">
          {{#unless commonAttributes.size.unknown}}
            {{#if commonAttributes.size.small}}
            <p><img src="/images/form-images/small.png" width="30px"></p>
            {{/if}}
            {{#if commonAttributes.size.medium}}
            <p><img src="/images/form-images/medium.png" width="30px"></p>
            {{/if}}
            {{#if commonAttributes.size.big}}
            <p><img src="/images/form-images/large.png" width="30px"></p>
            {{/if}}
          {{/unless}}
          {{#unless commonAttributes.ears.unknown}}
            {{#if commonAttributes.ears.up}}
            <p><img src="/images/form-images/up.png" width="30px"></p>
            {{/if}}
            {{#if commonAttributes.ears.down}}
            <p><img src="/images/form-images/down.png" width="30px"></p>
            {{/if}}
          {{/unless}}
          {{#unless commonAttributes.tail.unknown}}
            {{#if commonAttributes.tail.longTail}}
            <p><img src="/images/form-images/longTail.png" width="30px"></p>
            {{/if}}
            {{#if commonAttributes.tail.longHairy}}
            <p><img src="/images/form-images/hairy.png" width="30px"></p>
            {{/if}}
            {{#if commonAttributes.tail.shortTail}}
            <p><img src="/images/form-images/short.png" width="30px"></p>
            {{/if}}
          {{/unless}}
        </div>
      </div>
      <div class="match-contact">
        {{#if idFoundDog.location}}
          {{#if message}}
          <p>Contact information sent</p>
          {{else}}
          <button class="matchContactButton">Send contact info</button>
          {{/if}}
        {{/if}}
        {{#if idLostDog.location}}
        {{#if message}}
        <p>Possible owner of the dog contact info</p>
        <p>{{idLostDog.userID.email}}</p>
        <p>{{idLostDog.userID.phone}}</p>
        {{/if}}
        {{/if}}
      </div>
    </article>  
  {{/each}}
</section>