<a href="/dashboard"><</a>
<img src="/images/ruqu-logo.png" class="logo" alt="Ruqu lost and found logo">

<section class="currentDogMacthes">
<article>
    <a href="/pet/{{_id}}/edit">Edit</a>
    {{#if notification}}
    <img id={{_id}} class="notifications notifications-true" src="/images/notifications-true.svg" alt="notifications on" width="80px">
    {{else}}
    <img id={{_id}} class="notifications" src="/images/notifications-false.png" alt="notifications off" width="80px">
    {{/if}}


    <ul>
      {{#if dog.name}}
      <li>{{dog.name}}</li>
      {{/if}}

      <li>Color:</li>
      {{#if dog.color.unknown}}
        <p>Unknown</p>
      {{else}}
        {{#if dog.color.white }}
          <li>White</li>
        {{/if}}
        {{#if dog.color.black}}
          <li>Black</li>
        {{/if}}
        {{#if dog.color.darkBrown}}
          <li>Dark Brown</li>
        {{/if}}
        {{#if dog.color.lightBrown}}
          <li>Ligth Brown</li>
        {{/if}}
        {{#if dog.color.red}}
          <li>Red</li>
        {{/if}}
        {{#if dog.color.grey}}
          <li>Grey</li>
        {{/if}}
      {{/if}}

      <li>Size:</li>
      {{#if dog.size.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.size.small}}
        <li>Small</li>
      {{/if}}
      {{#if dog.size.medium}}
        <li>Medium</li>
      {{/if}}
      {{#if dog.size.big}}
        <li>Big</li>
      {{/if}}

      <li>{{dog.breed}}</li>

      <li>Ears:</li>
      {{#if dog.ears.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.ears.up}}
        <li>Up</li>
      {{/if}}
      {{#if dog.ears.down}}
        <li>Down</li>
      {{/if}}

      <li>Tail:</li>
      {{#if dog.tail.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.tail.longTail}}
        <li>Long</li>
      {{/if}}
      {{#if dog.tail.longHairy}}
        <li>Long and hairy</li>
      {{/if}}
      {{#if dog.tail.shortTail}}
        <li>Short</li>
      {{/if}}

      <li>Hair:</li>
      {{#if dog.hair.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.hair.long}}
        <li>Long</li>
      {{/if}}
      {{#if dog.hair.short}}
        <li>Short</li>
      {{/if}}
    
      <li>{{dog.photo}}</li>
      <li>{{dog.notification}}</li>
      <li>{{dog.day}}</li>
      <li>{{dog.month}}</li>
      <li>{{dog.year}}</li>
      <li>{{dog.hour}}</li>
      <li>{{dog.location}}</li>
    </ul>
  </article>
</section>

<section class="matches">
  {{#each}}
  {{/each}}
  <article>

  </article>  
</section>