<a href="/dashboard"><</a>
<img src="/images/ruqu-logo.png" class="logo" alt="Ruqu lost and found logo">

<section class="currentDogMacthes">
<article>
    <a href="/pet/{{dog._id}}/edit">Edit</a>
    {{#if notification}}
    <img id={{dog._id}} class="notifications notifications-true" src="/images/notifications-true.svg" alt="notifications on" width="80px">
    {{else}}
    <img id={{dog._id}} class="notifications" src="/images/notifications-false.png" alt="notifications off" width="80px">
    {{/if}}


    <ul>
      {{#if dog.name}}
      <li>{{dog.name}}</li>
      {{/if}}

      <li>Color:</li>
      {{#if dog.color.unknown}}
        <p>Unknown</p>
      {{else}}
        {{#if dog.color.white }}
          <li>White</li>
        {{/if}}
        {{#if dog.color.black}}
          <li>Black</li>
        {{/if}}
        {{#if dog.color.darkBrown}}
          <li>Dark Brown</li>
        {{/if}}
        {{#if dog.color.lightBrown}}
          <li>Ligth Brown</li>
        {{/if}}
        {{#if dog.color.red}}
          <li>Red</li>
        {{/if}}
        {{#if dog.color.grey}}
          <li>Grey</li>
        {{/if}}
      {{/if}}

      <li>Size:</li>
      {{#if dog.size.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.size.small}}
        <li>Small</li>
      {{/if}}
      {{#if dog.size.medium}}
        <li>Medium</li>
      {{/if}}
      {{#if dog.size.big}}
        <li>Big</li>
      {{/if}}

      <li>{{dog.breed}}</li>

      <li>Ears:</li>
      {{#if dog.ears.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.ears.up}}
        <li>Up</li>
      {{/if}}
      {{#if dog.ears.down}}
        <li>Down</li>
      {{/if}}

      <li>Tail:</li>
      {{#if dog.tail.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.tail.longTail}}
        <li>Long</li>
      {{/if}}
      {{#if dog.tail.longHairy}}
        <li>Long and hairy</li>
      {{/if}}
      {{#if dog.tail.shortTail}}
        <li>Short</li>
      {{/if}}

      <li>Hair:</li>
      {{#if dog.hair.unknown}}
        <p>Unknown</p>
      {{/if}}
      {{#if dog.hair.long}}
        <li>Long</li>
      {{/if}}
      {{#if dog.hair.short}}
        <li>Short</li>
      {{/if}}
    
      <li><img src="{{dog.photo}}" alt="my dog" width="300px"></li>
      <li>{{dog.notification}}</li>
      <li>{{dog.day}}</li>
      <li>{{dog.month}}</li>
      <li>{{dog.year}}</li>
      <li>{{dog.hour}}</li>
      <li>{{dog.location}}</li>
    </ul>
  </article>
</section>

<section class="matches">
  {{#each matches}}
    <article class="dog-info" id="{{_id}}">
      <div class="deleteMatch delete-match"><img src="/images/delete.png" width="30px"></div>
      <div class="dog-image">
        {{#if idFoundDog.photo}}
        <img src="{{idFoundDog.photo}}" alt="Lost dog matched image" width="300px">
        {{/if}}
        {{#if idLostDog.photo}}
        <img src="{{idLostDog.photo}}" alt="Found dog matched image"  width="300px">
        {{/if}}
      </div>

      
      <div class="matching-info">
        {{#if idFoundDog.day}}
        <p>Date: {{idFoundDog.day}}/{{idFoundDog.month}}/{{idFoundDog.year}} at {{idFoundDog.hour}}h</p>
        {{/if}}
        {{#if idLostDog.day}}
        <p>Date: {{idLostDog.day}}/{{idLostDog.month}}/{{idLostDog.year}} at {{idLostDog.hour}}h</p>
        {{/if}}
        {{#if idFoundDog.location}}
        <p>Location: {{idFoundDog.location}}</p>
        {{/if}}
        {{#if idLostDog.location}}
        <p>Location: {{idLostDog.location}}</p>
        {{/if}}

        <div class="breed-hair">
          <p>{{commonAttributes.breed}}</p>
          {{#unless commonAttributes.hair.unknown}}
            {{#if commonAttributes.hair.long}}
              <p>Long hair</p>
            {{/if}}
            {{#if commonAttributes.hair.short}}
              <p>Short hair</p>
            {{/if}}
          {{/unless}}
        </div>

        <div class="pet-color">
          {{#unless commonAttributes.color.unknown}}
            {{#if commonAttributes.color.white }}
              <span class="color white"></span>
            {{/if}}
            {{#if commonAttributes.color.black}}
              <span class="color black"></span>
            {{/if}}
            {{#if commonAttributes.color.darkBrown}}
              <span class="color dark-brown"></span>
            {{/if}}
            {{#if commonAttributes.color.lightBrown}}
              <span class="color light-brown"></span>
            {{/if}}
            {{#if commonAttributes.color.red}}
              <span class="color red"></span>
            {{/if}}
            {{#if commonAttributes.color.grey}}
              <span class="color grey"></span>
            {{/if}}
          {{/unless}}
        </div>

        <div class="ears-tail-size">
          {{#unless commonAttributes.size.unknown}}
            {{#if commonAttributes.size.small}}
            <p>Small</p>
            {{/if}}
            {{#if commonAttributes.size.medium}}
            <p>Medium</p>
            {{/if}}
            {{#if commonAttributes.size.big}}
            <p>Big</p>
            {{/if}}
          {{/unless}}
          {{#unless commonAttributes.ears.unknown}}
            {{#if commonAttributes.ears.up}}
            <p>Up</p>
            {{/if}}
            {{#if commonAttributes.ears.down}}
            <p>Down</p>
            {{/if}}
          {{/unless}}
          {{#unless commonAttributes.tail.unknown}}
            {{#if commonAttributes.tail.longTail}}
            <p>Long</p>
            {{/if}}
            {{#if commonAttributes.tail.longHairy}}
            <p>Long and hairy</p>
            {{/if}}
            {{#if commonAttributes.tail.shortTail}}
            <p>Short</p>
            {{/if}}
          {{/unless}}
        </div>
      </div>
      <div class="match-contact">
        {{#if idFoundDog.location}}
        <button>Send contact info</button>
        {{/if}}
        {{#if idLostDog.location}}
        <p>Possible owner of the dog contact info</p>
        {{/if}}
      </div>
    </article>  
  {{/each}}
</section>